.container1{
    width: 95%;
    margin: auto;
    border: 3px;
    border-style: solid;
    border-color: gold;
    background-color: lightblue;
    color: black;
    border-radius: 25px;
}


.card{
    padding: 10px;
    margin: 10px;
    height: 197;
    padding: 5px;
}